body {
  font-family: "Playfair Display", serif;
}

.hero {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  font-family: "Playfair Display", serif;
}

/* LEFT SIDE */
.hero-left {
  background-color: #85200cff;
  color: whitesmoke;
  padding: 1rem;
  position: relative;
}

/* Hamburger */
.hamburger span {
  display: block;
  width: 35px;
  height: 5.5px;
  background: white;
  margin-bottom: 6px;
}

/* Tagline */
.tagline {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  font-size: 2.5rem;
  border-top: 2px solid black;
  padding-top: 10px; /* space between line and text */
}

/* RIGHT SIDE */
.hero-right {
  background-image: url("/images/homepage.png"); /* put image in public/ */
  background-size: cover;
  background-position: center;
}

/* CENTER TEXT */
.hero-center {
  position: absolute;
  inset: 0;
  display: grid;
  top: 30vw;
  pointer-events: none;
}

.hero-center h1 {
  font-size: clamp(6rem, 12vw, 12rem);
  font-weight: 1200;
  font-style: italic;
  font-style: bold;
  letter-spacing: 0.075em;
  text-align: center;

  /*
  color: white;
  mix-blend-mode: difference;
  */
  background: linear-gradient(to right, #ffffff 50%, #85200cff 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-center span {
  display: block;
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0;
}

/* TOP RIGHT TITLE */
.hero-title {
  position: absolute;
  top: 0rem;
  right: 1rem;
  font-size: 2.5rem;
  color: #85200cff;
}