body {
  font-family: "Playfair Display", serif;
}

.hero {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  font-family: "Playfair Display", serif;
}

/* LEFT SIDE */
.hero-left {
  background-color: #85200cff;
  color: whitesmoke;
  padding: 1rem;
  position: relative;
}

/* Hamburger */
.hamburger span {
  width: 2.5rem;
  height: auto; 
}

/* Tagline */
.tagline {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  font-size: 2.5rem;
  border-top: 2px solid black;
  padding-top: 10px; /* space between line and text */
}

/* RIGHT SIDE */
.hero-right {
  background-image: url("/images/homepage.png"); /* put image in public/ */
  background-size: cover;
  background-position: center;
}

/* CENTER TEXT */
.hero-center {
  position: absolute;
  inset: 0;
  display: grid;
  top: 30vw;
  pointer-events: none;
}

.hero-center h1 {
  font-size: clamp(6rem, 12vw, 12rem);
  font-weight: 1200;
  font-style: italic;
  font-style: bold;
  letter-spacing: 0.075em;
  text-align: center;

  /*
  color: white;
  mix-blend-mode: difference;
  */
  background: linear-gradient(to right, #ffffff 50%, #85200cff 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-center span {
  display: block;
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0;
}

/* TOP RIGHT TITLE */
.hero-title {
  position: absolute;
  top: 0rem;
  right: 1rem;
  font-size: 2.5rem;
  color: #85200cff;
}

/*Side menu*/
/* Overlay */
/* Hamburger container */
.hamburger {
  width: 2.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin: 1rem;
  z-index: 1000;
}

/* The lines */
.hamburger span {
  height: 3px;
  width: 100%;
  background-color: whitesmoke;
  display: block;
  transition: 0.3s ease;
}


.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


.overlay.active {
  opacity: 0.6;
  visibility: visible;
}

/* Side menu */
.side-menu {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100%;
  background: #660000ff;
  padding: 2rem;
  transition: left 0.3s ease;
  z-index: 999;
}

.side-menu.active {
  left: 0;
}