body {
  font-family: "Playfair Display", serif;
}

.hero {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  font-family: "Playfair Display", serif;
}

html {
  scroll-behavior: smooth;
}

/* LEFT SIDE */
.hero-left {
  background-color: #85200cff;
  color: whitesmoke;
  padding: 1rem;
  position: relative;
}

/* Hamburger */
.hamburger span {
  width: 2.5rem;
  height: auto; 
}

/* Tagline */
.tagline {
  position: absolute;
  bottom: .5rem;
  left: 2rem;
  max-width: 75%;
  font-size: clamp(1.75rem, 3vw, 2.5rem);
  line-height: 1.2;
  color: whitesmoke;
}

.tagline::before {
  content: "";
  display: block;
  width: 40%;
  height: 2px;
  background: whitesmoke;
  margin-bottom: 12px;
}

/* RIGHT SIDE */
.hero-right {
  background-image: url("/images/homepage.png"); /* put image in public/ */
  background-size: cover;
  background-position: center;
}

/* CENTER TEXT */
.hero-center {
  position: absolute;
  inset: 0;
  display: grid;
  pointer-events: none;
}

.hero-center h1 {
  font-size: clamp(6rem, 12vw, 12rem);
  font-weight: 1200;
  font-style: italic;
  font-style: 700;
  letter-spacing: 0.075em;
  text-align: center;

  /*
  color: white;
  mix-blend-mode: difference;
  */
  background: linear-gradient(to right, #ffffff 50%, #85200cff 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-center span {
  display: block;
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0;
}

/* TOP RIGHT TITLE */
.hero-title {
  position: absolute;
  top: 0rem;
  right: 1rem;
  font-size: 2.5rem;
  color: #85200cff;
}

/*Side menu*/
/* Overlay */
/* Hamburger container */
.hamburger {
  width: 2.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  gap: 0.4rem;
  margin: 1rem;
  z-index: 1000;
}

/* The lines */
.hamburger span {
  height: 3px;
  width: 100%;
  background-color: whitesmoke;
  display: block;
  transition: 0.3s ease;
}


.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 85vw;
  height: 100vh;
  background: #660000ff;
  transform: translateX(-100%);
  transition: transform 0.45s cubic-bezier(.77,0,.18,1);
  z-index: 999;
}

.side-menu.active {
  transform: translateX(0);
}

.menu-inner {
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
  height: 100%;
}

.menu-left {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Playfair Display", serif;
  color: white;
}

.menu-links {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.menu-links a {
  font-size: clamp(2.5rem, 4vw, 4rem);
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
}

.menu-links a:hover {
  transform: translateX(6px);
  opacity: 0.85;
}

.menu-footer {
  font-size: 0.9rem;
  opacity: 0.9;
}

.menu-footer .school {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.menu-footer .contact {
  font-style: italic;
  margin: 1rem 0;
}

.menu-footer .address {
  line-height: 1.4;
  font-size: 0.8rem;
}

.menu-image {
  background-image: url("/images/cornell_logo_simple_white.jpg");
  background-size: cover;
  background-position: center;
}



.overlay {
  position: fixed;
  inset: 0;
  background: black;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 998;
}

.overlay.active {
  opacity: 0.5;
  visibility: visible;
}

/* Side menu */
.side-menu {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100%;
  background: #660000ff;
  padding: 2rem;
  transition: left 0.3s ease;
  z-index: 999;
}

.side-menu.active {
  left: 0;
}