body {
  font-family: "Playfair Display", serif;
}

.hero {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  font-family: "Playfair Display", serif;
}

/* LEFT SIDE */
.hero-left {
  background-color: #85200cff;
  color: whitesmoke;
  padding: 1rem;
  position: relative;
}

/* Hamburger */
.hamburger span {
  display: block;
  width: 50px;
  height: 5.5;
  background: white;
  margin-bottom: 6px;
}

/* Tagline */
.tagline {
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  font-size: 1.4rem;
  line-height: 1.4;
}

/* RIGHT SIDE */
.hero-right {
  background-image: url("/images/homepage.png"); /* put image in public/ */
  background-size: cover;
  background-position: center;
}

/* CENTER TEXT */
.hero-center {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.hero-center h1 {
  font-size: clamp(6rem, 12vw, 9rem);
  font-weight: 600;
  font-style: italic;
  font-style: bold;
  letter-spacing: 0.1em;
  text-align: center;

  color: white;
  mix-blend-mode: difference;
}

.hero-center span {
  display: block;
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0;
}

/* TOP RIGHT TITLE */
.hero-title {
  position: absolute;
  top: 0rem;
  right: 1rem;
  font-size: 2.5rem;
  color: #85200cff;
}